#                                                   Comparative Study of Indian Cities Mumbai and Kolkata
    Rajib Kumar Sarkar                              3/24/2019
## 1.Introduction
### 1.1 Background
   India (ISO: Bhārat), also known as the Republic of India (ISO: Bhārat Gaṇarājya),is a country in South Asia. It is the seventh largest country by area and with more than 1.3 billion people, it is the second most populous country as well as the most populous democracy in the world. Bounded by the Indian Ocean on the south, the Arabian Sea on the southwest, and the Bay of Bengal on the southeast, it shares land borders with Pakistan to the west; China, Nepal, and Bhutan to the northeast; and Bangladesh and Myanmar to the east. In the Indian Ocean, India is in the vicinity of Sri Lanka and the Maldives, while its Andaman and Nicobar Islands share a maritime border with Thailand and Indonesia. 

   India has multiple metropolitan areas in with a huge number of populations. Here is few Central National Capital Region, Mumbai Metropolitan Region,Kolkata metropolitan area, Bangalore Metropolitan Region etc.All these areas are changing in its everyday with respect to all environmental components. For example, Kolkata is competing with Delhi with respect to pollution, Bangalore is competing with Mumbai with respect to business.

   My interest is on two cities among these, Mumbai and Kolkata. Here is some more details on those two cities.

Mumbai :
   Mumbai (/mʊmˈbaɪ/, also known as Bombay /bɒmˈbeɪ/, the official name until 1995) is the capital city of the Indian state of Maharashtra. As of 2011 it is the most populous city in India with an estimated city proper population of 12.4 million. The larger Mumbai Metropolitan Region is the second most populous metropolitan area in India, with a population of 21.3 million as of 2016. Mumbai lies on the Konkan coast on the west coast of India and has a deep natural harbour. In 2008, Mumbai was named an alpha world city.It is also the wealthiest city in India,and has the highest number of millionaires and billionaires among all cities in India. Mumbai is home to three UNESCO World Heritage Sites: the Elephanta Caves, Chhatrapati Shivaji Maharaj Terminus, and the city's distinctive ensemble of Victorian and Art Deco buildings. Ref : https://en.wikipedia.org/wiki/Mumbai

Kolkata:
   Kolkata /kɒlˈkʌtə/ ([kolkata] (About this soundlisten), also known as Calcutta /kælˈkʌtə/, the official name until 2001) is the capital of the Indian state of West Bengal. Located on the east bank of the Hooghly River approximately 75 kilometers (47 mi) west of the border with Bangladesh, it is the principal commercial, cultural, and educational centre of East India, while the Port of Kolkata is India's oldest operating port and its sole major riverine port. The city is widely regarded as the "cultural capital" of India, and is also nicknamed the "City of Joy".According to the 2011 Indian census, it is the seventh most populous city; the city had a population of 4.5 million, while the suburb population brought the total to 14.1 million, making it the third-most populous metropolitan area in India. Ref : https://en.wikipedia.org/wiki/Kolkata


### 1.2 Problem : 

   I want to do a comparative study in between two cities Kolkata and Mumbai. That would help to understand these two cities area-wise with respect to business,population, tourism, education etc.

### 1.3 Interest and Intended Audience
   
   * Business People
   * Job-seekers
   * Tourist
   * People who are planning to move to these cities
   * Students

# 2.Data 

### 2.1 What Data :
       
  * Population and Area data for Mumbai and Kolkata : https://en.wikipedia.org/wiki/List_of_metropolitan_areas_in_India
  * Mumbai Area Information https://github.com/rajibkrsarkar/The-Battle-of-Neighborhood/blob/master/MumbaiPC.csv
  * Kolkata Area Information https://github.com/rajibkrsarkar/The-Battle-of-Neighborhood/blob/master/KolkataPC.csv
  * Kolkata Climate Data : https://en.wikipedia.org/wiki/Kolkata#Rainfall
  * Mumbai Climate Data : https://en.wikipedia.org/wiki/Mumbai#Climate
  * Colleges and Universities in Kolkata along with Degrees offered :https://en.wikipedia.org/wiki/Universities_and_colleges_of_West_Bengal
  * Mumbai All College and List :https://github.com/rajibkrsarkar/The-Battle-of-Neighborhood/blob/master/Mumbai_Updated-All-College-List-with-Course-Detailss.pdf
     

#### 2.2 Data Understanding and Data Cleaning  :
   To understand, the data with respect to variety and versatility and then apply cleaning process on various kinds of data.
I have tried to collect the data as much as possible in the web, based on whatever data available. If not available, looking for data and creating data set for my analysis on this.
I found lots of data are missing for all the data I have collected and scraped from multiple sources. If, key fields are missing, I have removed those records. For example, while comparing education based on different part of area of Mumbai with respect to Kolkata, I found highest education provided for an institute is missing. I have removed those records for both cities.

# 3. Exploratory Analysis of Data

   1st we are going to do a compartive study of population over the years in these two cities.

In [34]:
! wget -O t.csv https://github.com/rajibkrsarkar/The-Battle-of-Neighborhood/blob/master/Kolkata%20Population.txt

--2019-03-29 04:31:27--  https://github.com/rajibkrsarkar/The-Battle-of-Neighborhood/blob/master/Kolkata%20Population.txt
Resolving github.com (github.com)... 192.30.253.113, 192.30.253.112
Connecting to github.com (github.com)|192.30.253.113|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘t.csv’

    [ <=>                                   ] 60,499      --.-K/s   in 0.06s

2019-03-29 04:31:27 (978 KB/s) - ‘t.csv’ saved [60499]

     0                                  1
0  NaN  Year,Population,GrowthRate,Growth
1  NaN         2019,14755186,0.57%,332516
2  NaN         2015,14422670,0.59%,419872
3  NaN         2010,14002798,0.59%,407646
4  NaN         2005,13595152,0.75%,497999
5  NaN        2000,13097153,1.78%,1104959
6  NaN        1995,11992194,1.79%,1018017
7  NaN         1990,10974177,1.87%,970512
8  NaN         1985,10003665,1.91%,903499
9  NaN          1980,9100166,2.19%,934537
10 NaN          1975,8165629,2.18%,836257
11 NaN          1970,7329372,2.15%,739988
12 NaN          1965,6589384,2.20%,679174
13 NaN          1960,5910210,2.52%,691124
14 NaN          1955,5219086,2.54%,614943
15 NaN                1950,4604143,0.00%,

In [39]:
import pandas as pd

df=pd.read_html('t.csv')
df=df.

[     0                                  1
 0  NaN  Year,Population,GrowthRate,Growth
 1  NaN         2019,14755186,0.57%,332516
 2  NaN         2015,14422670,0.59%,419872
 3  NaN         2010,14002798,0.59%,407646
 4  NaN         2005,13595152,0.75%,497999
 5  NaN        2000,13097153,1.78%,1104959
 6  NaN        1995,11992194,1.79%,1018017
 7  NaN         1990,10974177,1.87%,970512
 8  NaN         1985,10003665,1.91%,903499
 9  NaN          1980,9100166,2.19%,934537
 10 NaN          1975,8165629,2.18%,836257
 11 NaN          1970,7329372,2.15%,739988
 12 NaN          1965,6589384,2.20%,679174
 13 NaN          1960,5910210,2.52%,691124
 14 NaN          1955,5219086,2.54%,614943
 15 NaN                1950,4604143,0.00%,]

In [20]:
import urllib
import csv
url_KolPopData='https://github.com/rajibkrsarkar/The-Battle-of-Neighborhood/blob/master/Kolkata%20Population.txt'
webpage = urllib.urlopen(url_KolPopData)
datareader = csv.reader(webpage)
#Creating empty list to be inserted.
data = [ ]
for row in datareader:
  data.append(row)

print(data)

AttributeError: module 'urllib' has no attribute 'urlopen'

In [18]:
import pandas as pd
import numpy as np

df_kol_pop=pd.read_csv(url_KolPopData,index_col=0,parse_dates=[0],error_bad_lines=False)
df_kol_pop.head()

b'Skipping line 75: expected 1 fields, saw 6\nSkipping line 124: expected 1 fields, saw 3\nSkipping line 143: expected 1 fields, saw 4\nSkipping line 147: expected 1 fields, saw 2\nSkipping line 149: expected 1 fields, saw 2\nSkipping line 150: expected 1 fields, saw 2\nSkipping line 151: expected 1 fields, saw 2\nSkipping line 152: expected 1 fields, saw 2\nSkipping line 153: expected 1 fields, saw 2\nSkipping line 154: expected 1 fields, saw 2\nSkipping line 155: expected 1 fields, saw 2\nSkipping line 156: expected 1 fields, saw 2\nSkipping line 160: expected 1 fields, saw 2\nSkipping line 161: expected 1 fields, saw 2\nSkipping line 167: expected 1 fields, saw 2\nSkipping line 175: expected 1 fields, saw 4\nSkipping line 181: expected 1 fields, saw 2\nSkipping line 186: expected 1 fields, saw 2\nSkipping line 187: expected 1 fields, saw 2\nSkipping line 188: expected 1 fields, saw 2\nSkipping line 189: expected 1 fields, saw 2\nSkipping line 190: expected 1 fields, saw 2\nSkipping line 195: expected 1 fields, saw 2\nSkipping line 196: expected 1 fields, saw 2\nSkipping line 197: expected 1 fields, saw 2\nSkipping line 204: expected 1 fields, saw 2\nSkipping line 212: expected 1 fields, saw 4\nSkipping line 217: expected 1 fields, saw 2\nSkipping line 220: expected 1 fields, saw 2\nSkipping line 221: expected 1 fields, saw 2\nSkipping line 225: expected 1 fields, saw 2\nSkipping line 226: expected 1 fields, saw 2\nSkipping line 248: expected 1 fields, saw 2\nSkipping line 383: expected 1 fields, saw 11\nSkipping line 385: expected 1 fields, saw 11\nSkipping line 424: expected 1 fields, saw 9\nSkipping line 435: expected 1 fields, saw 9\nSkipping line 447: expected 1 fields, saw 9\nSkipping line 531: expected 1 fields, saw 3\nSkipping line 535: expected 1 fields, saw 3\nSkipping line 536: expected 1 fields, saw 11\nSkipping line 632: expected 1 fields, saw 4\nSkipping line 637: expected 1 fields, saw 4\nSkipping line 642: expected 1 fields, saw 4\nSkipping line 647: expected 1 fields, saw 4\nSkipping line 652: expected 1 fields, saw 4\nSkipping line 657: expected 1 fields, saw 4\nSkipping line 662: expected 1 fields, saw 4\nSkipping line 667: expected 1 fields, saw 4\nSkipping line 672: expected 1 fields, saw 4\nSkipping line 677: expected 1 fields, saw 4\nSkipping line 682: expected 1 fields, saw 4\nSkipping line 687: expected 1 fields, saw 4\nSkipping line 692: expected 1 fields, saw 4\nSkipping line 697: expected 1 fields, saw 4\nSkipping line 702: expected 1 fields, saw 4\nSkipping line 707: expected 1 fields, saw 4\nSkipping line 756: expected 1 fields, saw 2\nSkipping line 757: expected 1 fields, saw 3\nSkipping line 758: expected 1 fields, saw 3\nSkipping line 759: expected 1 fields, saw 3\nSkipping line 760: expected 1 fields, saw 3\nSkipping line 761: expected 1 fields, saw 3\nSkipping line 768: expected 1 fields, saw 3\nSkipping line 769: expected 1 fields, saw 3\nSkipping line 770: expected 1 fields, saw 3\nSkipping line 771: expected 1 fields, saw 3\nSkipping line 772: expected 1 fields, saw 3\nSkipping line 773: expected 1 fields, saw 3\n'

Empty DataFrame
Columns: []
Index: [<html lang="en">,   <head>,     <meta charset="utf-8">,   <link rel="dns-prefetch" href="https://github.githubassets.com">,   <link rel="dns-prefetch" href="https://avatars0.githubusercontent.com">]